<footer class="footer">
    <div>
        <h2 class="text-center">Say Hello. Let's work together. </h2>
        <p class="text-center">You can connect with me via social media or write to me directly at varunchoraria@aol.com </p>
    </div>
    <div class="social-icons">
        <a href="{{ .Site.Params.socials.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="{{ .Site.Params.socials.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="{{ .Site.Params.socials.linkedIn }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="{{ .Site.Params.socials.quora }}" target="_blank"><i class="fab fa-quora"></i></a>
        <a href="{{ .Site.Params.socials.medium }}" target="_blank"><i class="fab fa-medium"></i></a>
    </div>
    <div class="text-center">Made with ❤ by <a href="https://twitter.com/irshadansari7" target="_blank">Irshad</a></div>
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81681372-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'UA-81681372-2');
    </script>