<footer class="footer">
    <div class="social-icons">
        <a href="{{ .Site.Params.socials.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="{{ .Site.Params.socials.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="{{ .Site.Params.socials.linkedIn }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <div class="text-center">Made with ❤ by <a href="https://twitter.com/irshadansari7" target="_blank">Irshad</a></div>
</footer>